[submodule "3rdparty/ccronexpr"]
	path = 3rdparty/ccronexpr
	url = ssh://git@dev:/bbox/repository/3rdparty/ccronexpr.git
[submodule "3rdparty/CTPL"]
	path = 3rdparty/CTPL
	url = ssh://git@dev:/bbox/repository/3rdparty/CTPL.git
